btn-ent {
    position: relative;
    top: 20px;
}

.under-plan {
    position: relative; 
    left: 650px;
    top: 35px;
    width: 225px;
    height: 2px;

    background-color: black;
}

.btn-ent {
    position: relative;
    top: -1px;
}

.f-text {
    color: white;
}

